@charset "utf-8";
	/*applies to all elements*/
	* {
		font-size: 100%;
	  line-height: 1.4;
	  text-decoration: none;
		font-family: 'Titillium Web', sans-serif;
	}
	body {
		/* Permalink - use to edit and share this gradient background: http://colorzilla.com/gradient-editor/#c5deea+0,8abbd7+22,8abbd7+65,066dab+100 */
		background: rgb(197,222,234); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(197,222,234,1) 0%, rgba(138,187,215,1) 22%, rgba(138,187,215,1) 65%, rgba(6,109,171,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 22%,rgba(138,187,215,1) 65%,rgba(6,109,171,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 22%,rgba(138,187,215,1) 65%,rgba(6,109,171,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab',GradientType=0 ); /* IE6-9 */
	}
/* all body content*/
	#Container {
  margin: 0 auto;
	padding: 0;
	min-width: 600px;
  max-width: 2000px;
  background-color: white;
  overflow: hidden;
  line-height: 1.5;
	text-align: center;
	}

	#faq, #contact, #shipping, #return, #privacy {
		text-align: left;
	}

/*header styling*/
	header img {
		padding: 6px;
	}
	header h1, header h2 {
		float: left;
		clear: left;
		font-family: 'Staatliches', cursive;
	}

	header h1 {
		margin: 0 50px 3px 50px;
		font-size: 2.8em;
		color: #34B3D4;
	}

	header h2 {
		margin: 3px 50px 50px 50px;
		font-size: 1.6em;
		margin-top: 0;
		color: #34B3D4;
	}
		h3 {
			text-align: center;
			font-family: 'Staatliches', cursive;
			color: #34B3D4;
			font-size: 1.6em;
			margin: 0;
		}

		styling for all other headings
		h1, h2, h3 {
			text-align: center;
			float: left;
			clear: left;
			font-family: 'Staatliches', cursive;
		}

	/*nav bar styling*/
		nav ul {
		  clear: both;
		  width: 100%;
		  background-color: rgba(6,109,171,1);
		  padding: 0;
			margin: 0;
		  text-align: center;
			font-family: 'Titillium Web', sans-serif;
		}
		nav li {
		  width: 15%;
		  display:inline-block;
		  padding: 10px;
		  font-size: 1.2em;
		  font-family: 'Titillium Web', sans-serif;
		}
		/* styling nav pseudo classes */
		nav a:link {
		  color: white;
			text-transform: uppercase;
			font-family: 'Titillium Web', sans-serif;
		}
		nav a:visited {
		  color: white;
			font-family: 'Titillium Web', sans-serif;
		}
		nav a:focus {
		  background-color: rgba(138,187,215,1);
		  color: white;
			font-family: 'Titillium Web', sans-serif;
		}
		nav li:hover {
		  background-color: rgba(138,187,215,1);
		  color: white;
			font-family: 'Titillium Web', sans-serif;
		}
		nav li:active {
		  background-color: rgba(138,187,215,1);
		  color: white;
			font-family: 'Titillium Web', sans-serif;

			/* all sections body content */
		}
		section {
			padding: 10px;
			background-color: white;
			font-family: 'Titillium Web', sans-serif;
			font-size: 22px;
		}

		section p {
			padding: 10px;
			background-color: white;
			font-family: 'Titillium Web', sans-serif;
			font-size: 22px;

		}

		/*order form styling*/
  	form {
  		margin-left: 10px;
  		margin-bottom: 20px;
  	}
  	form label {
  		font-size: 1.2em;
  		text-align: left;
  		font-weight: bold;
  		display: inline-block;
  		width: 140px;
  	}
  	form input {
  	}
  	fieldset {
  		width: 60%;
  		margin: 0 auto;
  	}
  	fieldset legend {
  		font-size: 1.4em;
  		color: #34B3D4;
  	}

	  /*styling for all buttons on all pages*/
  	button, #submit, #Order {
  		width: 100px;
  		display: block;
  		margin: 0 auto;
      margin-top: 20px;
  		padding: 15px;
			background-color: rgba(138,187,215,1);
		  color: white;
  		font-size: 1.4em;
  		font-weight: bold;
      text-align: center;
			/* rounding the button edges */
			border-radius: 15px;
  	}
  	button:hover, #submit:hover, #Order:hover {
			background-color:white;
			color: rgba(138,187,215,1);
		}

		/*footer styling */
		footer {
		  background-color: rgba(138,187,215,1);
		  color: white;
		  text-align: center;
		  padding: 7px 50px 50px 7px;
		}
		footer p {
		  color: white;
		  margin: 0;
		  position: relative;
		}
		footer span {
			text-align: center;
		}
		footer a, footer a:visited {
		  color: white;
		  padding: 2px 4px;
		  z-index: 100;
		}
		footer a:hover {
		  text-decoration: none;
			border-radius: 15px;
		  background-color: rgba(6,109,171,1);
		  color: white;
		}
		footer a.by {
		  float: left;
		}
				footer a.top {
		  float: right;
		}
		/* for the sticky nav bar w/js */
		.sticky {
			position: fixed;
			top: 0;
			right: 5px;
			left: 5px;
			padding: 0;
			width: 100%;
		}
